* {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.main_wrapper {
    
    width: 1400px;
    margin-left: 40px;
    .content_info {

        .content_info_title {
            margin-top: 50px;
            margin-bottom: 34px;
        }
        .text_response {
           
            color: black;
            margin-bottom: 66px;
        }
    }

    .content_wrapper_container {
        display: flex;
    }


    .list_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .content_item {
            width: 240px;
            margin-right: 35px;
            margin-bottom: 35px;

            .img_wrapper {
                width: 240px;
                height: 240px;
                border: 1px solid #E9E9E9;
                border-radius: 6px;
                margin-bottom: 22px;

                .img_product{ 
                    width: 80%;

                    & > img {
                        width: 100%;
                    }
                }
                

                img {
                   
                    width: 240px;
                height: 240px; 
                }
            }

            .text_item {
                width: 240px;
                font-size: 16px;
            }

            
            .pcire_wrapper {
                
                max-width: 240px;

                .main_price {
                    font-size: 12px;
                    font-weight: bold;
                    margin-right: 5px;
                    text-decoration: line-through;
                    color: #B8B8B8;
                }
                .sale_price {
                    font-size: 27px;
                    font-weight: bold;
                }
            }
        }
    }

    .paginatop_row {
        
        display: flex;
        

        .pagination_link  {
            color: #B8B8B8;
            margin-right: 12px;

            
        }
        .active {
            color: #00A5FF;
        }
        .pagination_link:last-child {
            margin-right: 0;
        }
    }

}

@media (max-width: 1200px) {
    .main_wrapper {
      width: 1000px;
    }
    
  }


@media (max-width: 1000px) {
    .main_wrapper {
        width: 768px;
        margin: 0 auto;

        
    }
}

@media (max-width: 768px) {
    .main_wrapper {
        margin: 0;
        margin: 0 auto;
        width: 595px;

        .text_response {
            width: 450px;
        }
    }
}

@media (max-width: 595px) {
    .main_wrapper {
        width: 450px;
        margin: 0 auto;

        .content_info { 
            font-size: 20px;
        }

        .text_response {
            width: 405px;
        }
    }
}

@media (max-width: 450px) {
    .main_wrapper {
        width: 250px;
        margin: 0 auto;

        .content_info { 
           
            font-size: 20px;
        }

        .text_response {
            width: 255px;
        }
    }
}
