.paginatop_row {
        
    display: flex;
    

    .pagination_link  {
        color: #B8B8B8;
        margin-right: 12px;

        
    }
    .active {
        color: #00A5FF;
    }
    .pagination_link:last-child {
        margin-right: 0;
    }
}